
.formControl.error input, 
.formControl.error textarea {
    border: 2px solid red;
}

.formControl.error span {
    color: red;
}

.formSummaryError {
    font-size: 20px;
    font-weight: bold;
    padding: 5px;
    color: red;
}