.logoHeader {
  width: 50px;
}
.header {
  grid-area: header;
  padding: 7px;
  background-color: rgba(47, 248, 248, 0.644);
  border-radius: 8px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.loginBlock {
  float: right;
  margin-top: 20px;
}
.loginBlock a {
  text-decoration: none;
  color: rgb(1, 5, 68);
}

.loginBlock a:hover {
  color: rgb(43, 107, 226)
}
/* a.activeLink {
  color:rgb(172, 40, 199);
} */
