.nav {
  grid-area: nav;
  padding: 12px;
  background-color: rgba(47, 248, 248, 0.644);
  border-radius: 8px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.nav a {
  text-decoration: none;
  color: rgb(1, 5, 68);
}
.nav a:hover {
  color: rgb(43, 107, 226)
}
.settings {
  margin-top: 20px;
}