.appWrapper {
  display: grid;
  width: 1200px;
  margin: 0 auto;
  grid-template-areas: 
  "header header"
  "nav content";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 12px;
  
}
.logoHeader {
  width: 40px;
}
.header {
  grid-area: header;
  padding: 7px;
  background-color: rgba(47, 248, 248, 0.644);
  border-radius: 8px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.nav {
  grid-area: nav;
  padding: 7px;
  background-color: rgba(47, 248, 248, 0.644);
  border-radius: 8px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.nav a {
  text-decoration: none;
  color: rgb(1, 5, 68);
}
.nav a:hover {
  color: rgb(43, 107, 226)
}
.settings {
  margin-top: 20px;
}

.content {
  padding: 7px;
  grid-area: content;
}
.userAvatar {
  width: 150px;
  border-radius: 50px;
}
